// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-1-name: 'icon-1';
$icon-1-x: 164px;
$icon-1-y: 121px;
$icon-1-offset-x: -164px;
$icon-1-offset-y: -121px;
$icon-1-width: 39px;
$icon-1-height: 39px;
$icon-1-total-width: 238px;
$icon-1-total-height: 199px;
$icon-1-image: 'spritesheet.png';
$icon-1: (164px, 121px, -164px, -121px, 39px, 39px, 238px, 199px, 'spritesheet.png', 'icon-1', );
$icon-11-name: 'icon-11';
$icon-11-x: 204px;
$icon-11-y: 41px;
$icon-11-offset-x: -204px;
$icon-11-offset-y: -41px;
$icon-11-width: 31px;
$icon-11-height: 40px;
$icon-11-total-width: 238px;
$icon-11-total-height: 199px;
$icon-11-image: 'spritesheet.png';
$icon-11: (204px, 41px, -204px, -41px, 31px, 40px, 238px, 199px, 'spritesheet.png', 'icon-11', );
$icon-12-name: 'icon-12';
$icon-12-x: 60px;
$icon-12-y: 0px;
$icon-12-offset-x: -60px;
$icon-12-offset-y: 0px;
$icon-12-width: 53px;
$icon-12-height: 39px;
$icon-12-total-width: 238px;
$icon-12-total-height: 199px;
$icon-12-image: 'spritesheet.png';
$icon-12: (60px, 0px, -60px, 0px, 53px, 39px, 238px, 199px, 'spritesheet.png', 'icon-12', );
$icon-13-name: 'icon-13';
$icon-13-x: 164px;
$icon-13-y: 81px;
$icon-13-offset-x: -164px;
$icon-13-offset-y: -81px;
$icon-13-width: 40px;
$icon-13-height: 40px;
$icon-13-total-width: 238px;
$icon-13-total-height: 199px;
$icon-13-image: 'spritesheet.png';
$icon-13: (164px, 81px, -164px, -81px, 40px, 40px, 238px, 199px, 'spritesheet.png', 'icon-13', );
$icon-14-name: 'icon-14';
$icon-14-x: 45px;
$icon-14-y: 119px;
$icon-14-offset-x: -45px;
$icon-14-offset-y: -119px;
$icon-14-width: 42px;
$icon-14-height: 40px;
$icon-14-total-width: 238px;
$icon-14-total-height: 199px;
$icon-14-image: 'spritesheet.png';
$icon-14: (45px, 119px, -45px, -119px, 42px, 40px, 238px, 199px, 'spritesheet.png', 'icon-14', );
$icon-15-name: 'icon-15';
$icon-15-x: 60px;
$icon-15-y: 39px;
$icon-15-offset-x: -60px;
$icon-15-offset-y: -39px;
$icon-15-width: 42px;
$icon-15-height: 39px;
$icon-15-total-width: 238px;
$icon-15-total-height: 199px;
$icon-15-image: 'spritesheet.png';
$icon-15: (60px, 39px, -60px, -39px, 42px, 39px, 238px, 199px, 'spritesheet.png', 'icon-15', );
$icon-16-name: 'icon-16';
$icon-16-x: 113px;
$icon-16-y: 0px;
$icon-16-offset-x: -113px;
$icon-16-offset-y: 0px;
$icon-16-width: 51px;
$icon-16-height: 40px;
$icon-16-total-width: 238px;
$icon-16-total-height: 199px;
$icon-16-image: 'spritesheet.png';
$icon-16: (113px, 0px, -113px, 0px, 51px, 40px, 238px, 199px, 'spritesheet.png', 'icon-16', );
$icon-17-name: 'icon-17';
$icon-17-x: 164px;
$icon-17-y: 0px;
$icon-17-offset-x: -164px;
$icon-17-offset-y: 0px;
$icon-17-width: 40px;
$icon-17-height: 41px;
$icon-17-total-width: 238px;
$icon-17-total-height: 199px;
$icon-17-image: 'spritesheet.png';
$icon-17: (164px, 0px, -164px, 0px, 40px, 41px, 238px, 199px, 'spritesheet.png', 'icon-17', );
$icon-2-name: 'icon-2';
$icon-2-x: 204px;
$icon-2-y: 0px;
$icon-2-offset-x: -204px;
$icon-2-offset-y: 0px;
$icon-2-width: 34px;
$icon-2-height: 41px;
$icon-2-total-width: 238px;
$icon-2-total-height: 199px;
$icon-2-image: 'spritesheet.png';
$icon-2: (204px, 0px, -204px, 0px, 34px, 41px, 238px, 199px, 'spritesheet.png', 'icon-2', );
$icon-3-name: 'icon-3';
$icon-3-x: 0px;
$icon-3-y: 161px;
$icon-3-offset-x: 0px;
$icon-3-offset-y: -161px;
$icon-3-width: 37px;
$icon-3-height: 38px;
$icon-3-total-width: 238px;
$icon-3-total-height: 199px;
$icon-3-image: 'spritesheet.png';
$icon-3: (0px, 161px, 0px, -161px, 37px, 38px, 238px, 199px, 'spritesheet.png', 'icon-3', );
$icon-4-name: 'icon-4';
$icon-4-x: 0px;
$icon-4-y: 0px;
$icon-4-offset-x: 0px;
$icon-4-offset-y: 0px;
$icon-4-width: 60px;
$icon-4-height: 38px;
$icon-4-total-width: 238px;
$icon-4-total-height: 199px;
$icon-4-image: 'spritesheet.png';
$icon-4: (0px, 0px, 0px, 0px, 60px, 38px, 238px, 199px, 'spritesheet.png', 'icon-4', );
$icon-5-name: 'icon-5';
$icon-5-x: 0px;
$icon-5-y: 38px;
$icon-5-offset-x: 0px;
$icon-5-offset-y: -38px;
$icon-5-width: 53px;
$icon-5-height: 40px;
$icon-5-total-width: 238px;
$icon-5-total-height: 199px;
$icon-5-image: 'spritesheet.png';
$icon-5: (0px, 38px, 0px, -38px, 53px, 40px, 238px, 199px, 'spritesheet.png', 'icon-5', );
$icon-6-name: 'icon-6';
$icon-6-x: 164px;
$icon-6-y: 41px;
$icon-6-offset-x: -164px;
$icon-6-offset-y: -41px;
$icon-6-width: 40px;
$icon-6-height: 40px;
$icon-6-total-width: 238px;
$icon-6-total-height: 199px;
$icon-6-image: 'spritesheet.png';
$icon-6: (164px, 41px, -164px, -41px, 40px, 40px, 238px, 199px, 'spritesheet.png', 'icon-6', );
$icon-7-name: 'icon-7';
$icon-7-x: 0px;
$icon-7-y: 78px;
$icon-7-offset-x: 0px;
$icon-7-offset-y: -78px;
$icon-7-width: 47px;
$icon-7-height: 41px;
$icon-7-total-width: 238px;
$icon-7-total-height: 199px;
$icon-7-image: 'spritesheet.png';
$icon-7: (0px, 78px, 0px, -78px, 47px, 41px, 238px, 199px, 'spritesheet.png', 'icon-7', );
$icon-8-name: 'icon-8';
$icon-8-x: 47px;
$icon-8-y: 78px;
$icon-8-offset-x: -47px;
$icon-8-offset-y: -78px;
$icon-8-width: 48px;
$icon-8-height: 40px;
$icon-8-total-width: 238px;
$icon-8-total-height: 199px;
$icon-8-image: 'spritesheet.png';
$icon-8: (47px, 78px, -47px, -78px, 48px, 40px, 238px, 199px, 'spritesheet.png', 'icon-8', );
$icon-9-name: 'icon-9';
$icon-9-x: 95px;
$icon-9-y: 78px;
$icon-9-offset-x: -95px;
$icon-9-offset-y: -78px;
$icon-9-width: 43px;
$icon-9-height: 40px;
$icon-9-total-width: 238px;
$icon-9-total-height: 199px;
$icon-9-image: 'spritesheet.png';
$icon-9: (95px, 78px, -95px, -78px, 43px, 40px, 238px, 199px, 'spritesheet.png', 'icon-9', );
$icon-clock-name: 'icon-clock';
$icon-clock-x: 87px;
$icon-clock-y: 119px;
$icon-clock-offset-x: -87px;
$icon-clock-offset-y: -119px;
$icon-clock-width: 41px;
$icon-clock-height: 40px;
$icon-clock-total-width: 238px;
$icon-clock-total-height: 199px;
$icon-clock-image: 'spritesheet.png';
$icon-clock: (87px, 119px, -87px, -119px, 41px, 40px, 238px, 199px, 'spritesheet.png', 'icon-clock', );
$icon-marker-name: 'icon-marker';
$icon-marker-x: 204px;
$icon-marker-y: 81px;
$icon-marker-offset-x: -204px;
$icon-marker-offset-y: -81px;
$icon-marker-width: 31px;
$icon-marker-height: 40px;
$icon-marker-total-width: 238px;
$icon-marker-total-height: 199px;
$icon-marker-image: 'spritesheet.png';
$icon-marker: (204px, 81px, -204px, -81px, 31px, 40px, 238px, 199px, 'spritesheet.png', 'icon-marker', );
$icon-msg-name: 'icon-msg';
$icon-msg-x: 113px;
$icon-msg-y: 40px;
$icon-msg-offset-x: -113px;
$icon-msg-offset-y: -40px;
$icon-msg-width: 45px;
$icon-msg-height: 32px;
$icon-msg-total-width: 238px;
$icon-msg-total-height: 199px;
$icon-msg-image: 'spritesheet.png';
$icon-msg: (113px, 40px, -113px, -40px, 45px, 32px, 238px, 199px, 'spritesheet.png', 'icon-msg', );
$icon-phone-name: 'icon-phone';
$icon-phone-x: 204px;
$icon-phone-y: 161px;
$icon-phone-offset-x: -204px;
$icon-phone-offset-y: -161px;
$icon-phone-width: 16px;
$icon-phone-height: 24px;
$icon-phone-total-width: 238px;
$icon-phone-total-height: 199px;
$icon-phone-image: 'spritesheet.png';
$icon-phone: (204px, 161px, -204px, -161px, 16px, 24px, 238px, 199px, 'spritesheet.png', 'icon-phone', );
$icon-tablet-name: 'icon-tablet';
$icon-tablet-x: 204px;
$icon-tablet-y: 121px;
$icon-tablet-offset-x: -204px;
$icon-tablet-offset-y: -121px;
$icon-tablet-width: 29px;
$icon-tablet-height: 40px;
$icon-tablet-total-width: 238px;
$icon-tablet-total-height: 199px;
$icon-tablet-image: 'spritesheet.png';
$icon-tablet: (204px, 121px, -204px, -121px, 29px, 40px, 238px, 199px, 'spritesheet.png', 'icon-tablet', );
$map-marker-name: 'map-marker';
$map-marker-x: 0px;
$map-marker-y: 119px;
$map-marker-offset-x: 0px;
$map-marker-offset-y: -119px;
$map-marker-width: 45px;
$map-marker-height: 42px;
$map-marker-total-width: 238px;
$map-marker-total-height: 199px;
$map-marker-image: 'spritesheet.png';
$map-marker: (0px, 119px, 0px, -119px, 45px, 42px, 238px, 199px, 'spritesheet.png', 'map-marker', );
$spritesheet-width: 238px;
$spritesheet-height: 199px;
$spritesheet-image: 'spritesheet.png';
$spritesheet-sprites: ($icon-1, $icon-11, $icon-12, $icon-13, $icon-14, $icon-15, $icon-16, $icon-17, $icon-2, $icon-3, $icon-4, $icon-5, $icon-6, $icon-7, $icon-8, $icon-9, $icon-clock, $icon-marker, $icon-msg, $icon-phone, $icon-tablet, $map-marker, );
$spritesheet: (238px, 199px, 'spritesheet.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(../img/#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
