$RobotoSlab: "Roboto Slab", serif;
$Roboto: "Roboto", sans-serif;

$gray-light: #b0b0b0;
$gray: #808080;
$black-light: #2f2626;
$black: #000;
$green: #bcc73a;
$green-light: #d7e344;
$white: #fff;
$white-dark: #ebebeb;
$brown: #c6a239;
$brown-light: #c7a239;

$bg-head: rgba($white, 0.9);
$circle-green: rgba($green, 0.9);
$circle-brown: rgba($brown, 0.9);

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1420px;
