@import "lib/normalize/import-now";
// @import "fonts";
@import "sprites";
@import "variables";

html,
body {
  font-family: $Roboto;
  font-size: 14px;
  font-weight: 400;
}

.container {
  max-width: 1170px;
  min-width: 320px;
  padding: 0 10px;
  margin: 0 auto;
}

// HEADER
.page-header {
  background: #d5d9dc url(../img/bg-header.jpg) no-repeat center;
  background-size: cover;
}

.top-menu {
  background-color: $bg-head;
  box-shadow: 0px 0px 20px 5px rgba($black, 0.5);
}

.top-menu__inner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  max-width: 470px;

}

.logo__text {
  // padding: 32px 0;
  padding-left: 20px;

  font-family: $RobotoSlab;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  cursor: default;
  user-select: none;
}

.nav__list {
  display: flex;
  flex-basis: 1;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav__link {
  position: relative;
  display: block;
  padding: 28px 0;
  margin: 0 15px;
  text-transform: uppercase;
  text-decoration: none;
  color: $gray;
  user-select: none;
  // border-bottom: 4px solid transparent;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 4px;
  }

  &:hover {
    // border-bottom: 4px solid $brown-light;
    color: $brown-light;

    &::after {
      background-color: $brown-light;
    }
  }

}

.callback__phone {
  position: relative;
  padding: 10px 0 10px 25px;
  font-family: $RobotoSlab;
  font-size: 24px;

  span {
    color: $gray-light;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -12px;
    @include sprite($icon-phone);
  }
}

// HAMBURGER MENU

.hamburger {
  display: inline-flex;
  align-items: center;
  position: relative;
  padding: 0px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: opacity .15s linear;

  &:focus {
    outline: none;
  }

  &:hover {
    opacity: 0.6;
  }
}

.hamburger--show {
  display: none;
}

.hamburger__inner {
  position: absolute;
  left: 0;
  width: 40px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;

  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 0;
    width: 40px;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
  }

  &::before {
    top: -10px;
  }

  &::after {
    top: 10px;
  }
}

.hamburger--active {

  .hamburger__inner {
    transform: rotate(45deg);

    &::before {
      top: 0;
      opacity: 0;
    }

    &::after {
      top: 0;
      transform: rotate(90deg);
    }

  }
}

@media (max-width: $xxl) {
  .logo__text {
    display: none;
  }
}

@media (max-width: $lg) {
  .top-menu {
    .callback {
    display: none;
    }
  }
}

@media (max-width: $md) {
  .logo {
    display: flex;
    max-width: $md;
    width: 90%;
    justify-content: space-between;
  }

  .top-menu__inner {
    flex-direction: column;
  }

  .nav {
    display: none;
  }

  .nav--show {
    display: block;
  }

  .nav__list {
    flex-direction: column;
  }

  .nav__link {
    padding: 20px 0;
    border-bottom: 0;

    &:hover {
      border-bottom: 0;
    }

    &::after {
      display: none;
    }
  }

  .hamburger--show {
    display: inline-flex;
  }
}
// TOP MENU END

// PROMO
.promo__inner {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 20px;
}

.circle {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: $RobotoSlab;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  word-break: break-word;
  border-radius: 50%;
  background-color: $bg-head;
}

.promo__inner {
  position: relative;
  min-height: 409px;
  .circle {
    position: absolute;

    &:nth-child(1) {
      top: 27px;
      left: 250px;
      width: 200px;
      height: 200px;
    }

    &:nth-child(2) {
      top: 150px;
      left: 300px;
      width: 180px;
      height: 180px;
    }

    &:nth-child(3) {
      top: 200px;
      left: 400px;
      width: 175px;
      height: 175px;
    }

    &:nth-child(4) {
      top: 17px;
      left: 350px;
      width: 130px;
      height: 130px;
    }

    &:nth-child(5) {
      top: 100px;
      left: 400px;
      width: 170px;
      height: 170px;
    }

    &:nth-child(6) {
      top: 50px;
      left: 600px;
      width: 181px;
      height: 181px;
    }

    &:nth-child(7) {
      top: 200px;
      left: 600px;
      width: 190px;
      height: 190px;
    }
  }

  .circle__text {
    display: inline-block;

    span {
      display: block;
      color: $brown;
    }

    i {
      color: $black;
      font-style: normal;
    }
  }

  .circle__text--first {
    width: 134px;
  }

  .circle__text--second {
    width: 125px;
  }

  .circle__text--third {
    width: 145px;
  }

  .circle__text--fourth {
    width: 90px;
  }

  .circle__text--fifth {
    width: 130px;
  }

  .circle__text--sixth {
    width: 140px;
  }

  .circle__text--seventh {
    width: 180px;
  }
}

.circle__small-buble {
  position: absolute;
  border-radius: 50%;
  background-color: rgba($white, 0.5);

  &::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    background-color: rgba($white, 0.5);
  }
}

.circle__small-buble--first {
  width: 10px;
  height: 10px;
  left: 160px;

  &::after {
    width: 5px;
    height: 5px;
    top: 20%;
    left: 13px;
  }
}

.circle__small-buble--second {
  width: 4px;
  height: 4px;
  top: 0;
  left: 60px;

  &::after {
    width: 2px;
    height: 2px;
    top: 20%;
    top: -3px;
    left: 6px;
  }
}

.circle__small-buble--third {
  width: 10px;
  height: 10px;
  top: 25%;
  right: 100px;

  &::after {
    width: 5px;
    height: 5px;
    top: -3px;
    right: 13px;
  }
}

.circle__small-buble--fourth {
  width: 10px;
  height: 10px;
  top: 50%;
  right: 70px;

  &::after {
    width: 5px;
    height: 5px;
    top: 50%;
    right: 13px;
  }
}

.circle__small-buble--fourth {
  width: 10px;
  height: 10px;
  top: 50%;
  right: 70px;

  &::after {
    width: 5px;
    height: 5px;
    top: 50%;
    right: 13px;
  }
}


.circle__small-buble--fifth {
  width: 10px;
  height: 10px;
  top: 30px;
  right: 100px;

  &::after {
    width: 6px;
    height: 6px;
    top: 20%;
    right: 13px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    top: 33%;
    right: 22px;
    border-radius: 50%;
    background-color: rgba($white, 0.5);
  }

  span {
    position: absolute;
    width: 3px;
    height: 3px;
    top: 35%;
    right: 29px;
    border-radius: 50%;
    background-color: rgba($white, 0.5);
  }
}

.circle__small-buble--six {
  position: absolute;
  // position: relative;
  width: 10px;
  height: 10px;
  top: 110px;
  right: 120px;

  &::after {
    width: 6px;
    height: 6px;
    top: 20%;
    right: 13px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    top: 33%;
    right: 22px;
    border-radius: 50%;
    background-color: rgba($white, 0.5);
  }

  span {
    position: absolute;
    width: 3px;
    height: 3px;
    top: 35%;
    right: 29px;
    border-radius: 50%;
    background-color: rgba($white, 0.5);
  }
}

.circle__small-buble--seven {
  width: 10px;
  height: 10px;
  top: 50%;
  right: 140px;

  &::after {
    width: 6px;
    height: 6px;
    top: 20%;
    right: 15px;
  }
}

.promo-desc {
  padding: 30px 0;
  text-align: center;
  background-color: $bg-head;
  box-shadow: inset 0px -5px 20px 0px rgba($black, 0.2);

  span {
    color: $brown;
  }

}

.promo-desc__title,
.promo-desc__subtitle {
  margin: 0;
  margin-bottom: 10px;
  font-family: $RobotoSlab;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
}

.promo-desc__subtitle {
  margin-bottom: 15px;
  font-size: 26px;
}

@media (max-width: 768px) {
  .promo-desc__title,
  .promo-desc__subtitle {
    font-size: 24px;
    line-height: 30px;
  }

  .promo-desc__subtitle {
    font-size: 18px;
  }

}
// HEADER END

// BTN
.btn {
  display: inline-block;
  vertical-align: middle;
  padding: 10px 30px;
  font-family: $Roboto;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  color: $black;
  background-color: $green;
  border: none;
  border-radius: 20px;
  transition: background-color ease 0.15s;

  &:hover {
    background-color: $green-light;
  }
}

.btn--large {
  font-size: 18px;
  padding: 10px 60px;
}

.btn--white {
  background-color: $white;

  &:hover {
    background-color: $white-dark;
  }
}

// BTN END

// FEATURES
.features {
  padding: 50px 0;
  background-image: linear-gradient(to right, #fbfcf3 0%, #fbfcf3 50%, #fcf9f3 50%, #fcf9f3 100%);

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // justify-content: space-around;
    // flex-wrap: wrap;
  }
}

.features__inner {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.features__head {
  &::after {
    content: "";
    position: relative;
    top: -27px;
    display: block;
    border-bottom: 1px solid $green;
  }
}

// for ie
.features__picture {
  display: flex;
}

.features__img {
  margin: 0 auto;
}
// for ie end

.header {
  display: inline-block;
  vertical-align: middle;
  max-width: 650px;
  font-size: 30px;
  margin: 0;
  font-family: $RobotoSlab;
  font-weight: 400;
}

@media (max-width: $md) {
  .header {
    display: inline-block;
    vertical-align: middle;
    max-width: 650px;
    font-size: 24px;
    margin: 0;
    font-family: $RobotoSlab;
  }
}

.features__header {
  position: relative;
  display: inline-flex;
  max-width: 330px;
  margin: 0;
  font-size: 24px;
  z-index: 10;
  background-color: #fbfcf3;
}

// .features__section {
//   display: flex;
//   flex-direction: column;
// }

.features__text {
  position: relative;
  margin: 30px 0;
  font-size: 16px;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    @include sprite($icon-1);
  }
}

@media (max-width: $xl) {
  .features__text {
    position: relative;
    margin: 30px 0;
    font-size: 16px;
    transform: translate(0) !important;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      @include sprite($icon-1);
    }
  }

}

.features__inner--green {
  text-align: right;
  // margin-right: 40px;

  .features__text {
    padding-right: 98px;
  }

  .features__text--2 {
    &::after {
      @include sprite($icon-2);
    }
  }

  .features__text--3 {
    &::after {
      @include sprite($icon-3);
    }
  }

  .features__text--4 {
    &::after {
      right: -10px;
      @include sprite($icon-4);
    }
  }

  .features__text--5 {
    &::after {
      right: -10px;
      @include sprite($icon-5);
    }
  }
}

.features__inner--brown {
  text-align: left;
  // margin-left: 40px;

  .features__head {
    &::after {
      border-bottom: 1px solid $brown;
    }
  }

  .features__header {
    padding-right: 30px;
    background-color: #fcf9f3;
  }

  .features__text {
    padding-left: 98px;

    &::after {
      top: 0;
      left: 0;
      @include sprite($icon-clock);
    }
  }

  .features__text--7 {
    &::after {
      @include sprite($icon-6);
    }
  }

  .features__text--8 {
    &::after {
      @include sprite($icon-7);
    }
  }

  .features__text--9 {
    &::after {
      @include sprite($icon-8);
    }
  }

  .features__text--10 {
    &::after {
      @include sprite($icon-9);
    }
  }
}

@media (max-width: 1200px) {
  .features__img {
    display: none;
  }
  // .features__inner--green {
  //   margin-right: 60px;
  // }
}

@media (max-width: 1200px) {
  .features__head {
    &::after {
      display: none;
    }
  }
  .features__header {
    max-width: 100%;
    display: block;
  }
  .features__inner--brown {
    .features__header {
      padding-right: 0;
    }
  }
}

@media (max-width: 1200px) {
  .features {
    background-image: linear-gradient(to bottom, #fbfcf3 0%, #fbfcf3 50%, #fcf9f3 50%, #fcf9f3 100%);
    .container {
      display: flex;
      flex-direction: column;
      // align-items: center;
    }
  }

  .features__section {
    align-items: center;
  }

  .features__inner {
    text-align: center;
    max-width: 100%;
  }

  .features__head {
    &::after {
      display: none;
    }
  }

  .features__header {
    max-width: 100%;
    display: block;
    margin-bottom: 20px;
    background-color: #fcf9f3;
  }

  .features__section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .features__text {
    max-width: 230px;
    padding-top: 70px;

    &::after {
      left: 50%;
      margin-left: -20px;
    }
  }

  .features__inner--green {
    margin-right: 0;
    margin-bottom: 40px;

    .features__text {
      padding-right: 0px;
    }
  }

  .features__inner--brown {
    .features__text {
      padding-left: 0;

      &::after {
        top: 0;
        left: 50%;
      }
    }
  }
}
// FEATURES END

// HELP

.help {
  background: #c2cc4d url(../img/bg-feedback.jpg) no-repeat center;
  background-size: cover;
  text-align: center;

  .container {
    padding: 35px 0;
  }
}

.advantages__head,
.contacts__head {
  margin-bottom: 30px;

  &::after {
    content: "";
    position: relative;
    width: 100%;
    display: block;
    top: -34px;
    border-bottom: 1px solid $green;
    z-index: -1;
  }
}

.help__head,
.results__head {
  position: relative;
  margin-bottom: 30px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 34px;
    width: 15%;
    border-bottom: 1px solid $white;
  }

  &::before {
    right: 0;
  }

  &::after {
    left: 0;
  }
}

@media (max-width: 1030px) {
  .help__head,
  .results__head {

    &::before,
    &::after {
      width: 10%;
    }
  }
}
@media (max-width: 960px) {
  .help__head,
  .results__head {

    &::before,
    &::after {
      display: none;
    }
  }

  .help__header,
  .results__header {
    padding: 0 20px;
  }
}

@media (max-width: $xl) {
  .feedback {
    .circle {
      display: none;
    }
  }
}

@media (max-width: $md) {
  .header {
    font-size: 2rem;
  }
}

@media (max-width: $sm) {
  .header {
    font-size: 1.5rem;
  }
  .feedback__phone {
    font-size: 1.4rem;
    span {
      font-size: 1.4rem;
    }
  }
  .feedback__bid {
    font-size: 1.4rem;
  }
}
// HELP END

// ADVANTAGES
.advantages {
  padding: 0;
  padding-top: 40px;
  text-align: center;
}

.advantages__head {
  margin-bottom: 40px;
  &::after {
    top: -17px;
    border-bottom: 1px solid $green;
  }
}

.advantages__header {
  max-width: 670px;
  background: $white;
}

.advantages__header,
.contacts__header {
  padding: 0 60px;
}

.advantages__section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.advantages__text {
  position: relative;
  margin: 0;
  max-width: 240px;
  margin-bottom: 50px;
  padding-top: 70px;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -25px;
    @include sprite($icon-11);
  }
}

.advantages__text--2 {
  &::after {
    margin-left: -25px;
    @include sprite($icon-12);
  }
}
.advantages__text--3 {
  &::after {
    margin-left: -25px;
    @include sprite($icon-16);
  }
}
.advantages__text--4 {
  &::after {
    margin-left: -25px;
    @include sprite($icon-13);
  }
}
.advantages__text--5 {
  &::after {
    margin-left: -25px;
    @include sprite($icon-14);
  }
}
.advantages__text--6 {
  &::after {
    margin-left: -25px;
    @include sprite($icon-15);
  }
}
.advantages__text--7 {
  &::after {
    margin-left: -25px;
    @include sprite($icon-17);
  }
}
// ADVANTAGES END

// RESULTS
.results {
  padding: 0;
  padding-top: 40px;
  padding-bottom: 45px;
  text-align: center;
  background: #d3c5bd url(../img/bg-trial.jpg) no-repeat center;
  background-size: cover;

}

.results__head {

  &::after,
  &::before {
    width: 12%;
    top: 17px;
  }
}

.results__header {
  max-width: 720px;
  background: none;
}

.results__section {
  display: flex;
  justify-content: space-around;
}

// RESULTS END

.slick-inner {
  display: flex;
  // flex-direction: column;
  justify-content: center;
  text-align: center;
}

.slick {
  max-width: 90%;
  padding: 0;
  // padding-left: 50px;
  margin: 0;
}

.slick__slide {
  // display: inline-block;
  padding: 0;
}

.slick-prev,
.slick-next
{
  font-size: 0;
  line-height: 0;

  position: absolute;
  top: 50%;
  padding: 0;

  cursor: pointer;

  color: transparent;
  border: 2px solid $brown;
  outline: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-color: $brown;
  opacity: 0.7;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
  color: $white;
  opacity: 1;
  border-color: $brown;
}

.slick-prev.slick-disabled,
.slick-next.slick-disabled
{
  pointer-events: none;
  opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
  display: none;
}

.slick-prev
{
  left: -55px;
}

.slick-next
{
  right: -55px;
}


// TABLE STYLE

.result {
  display: inline-block;
  // display: block;
  width: 430px;
  // width: 100%;
  background-color: #fff;
  border-collapse: collapse;

  td, th {
    padding: 0;
    padding-bottom: 10px;
  }

  td {
    font-size: 14px;
    font-weight: 700;
  }

  td:first-child {
    text-align: right;
  }

  td:last-child {
    width: 50%;
    padding-left: 20px;
    text-align: left;
  }

}

.result__row {

  th {
    font-family: $RobotoSlab;
    font-weight: 700;
    font-size: 16px;
    color: #c7a33a;
  }

  td:first-child {
    padding: 0;
    text-align: center;
  }

  hr {
    height: 1px;
    margin: 15px 30px 10px;
    color: #dcdcdc;
    border: none;
    background-color: #dcdcdc;
  }
}

.result__row--head {
  th {
    padding-top: 15px;
  }

}

.result__l-row {
  td {
    padding-bottom: 15px;
  }
}

.result__f-row {
  background-color: #bcc73a;

  th {
    padding: 15px 0;
    color: #fff;
  }

  th:first-child {
    text-align: right;
  }

  th:last-child {
    padding-left: 20px;
    text-align: left;
  }
}

// TABLE STYLE END

.feedback {
  position: relative;
  background: #f1f1f1 url(../img/bg-user.jpg) no-repeat center;
  background-size: cover;

  .container {
    // max-width: 1290px;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 60px 10px;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: -100px;
      background: url(../img/user.png) no-repeat 100% 100%;
      width: 912px;
      height: 589px;
    }

  }
}

.feedback__header,
.feedback__phone,
.feedback__bid {
  display: inline-block;
  max-width: 700px;
  margin: 0;
  margin-bottom: 35px;
}

.feedback__phone,
.feedback__bid {
  font-family: $RobotoSlab;
  font-size: 24px;
  line-height: 30px;
}

.feedback__header {
  font-size: 30px;
  line-height: 36px;
}

.feedback__phone {
  span {
    font-size: 30px;
    color: $brown;
  }
}

.feedback__inner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // justify-content: space-around;

  .circle {
    position: absolute;
    background-color: $circle-green;
    z-index: 10;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 89px;
      height: 87px;
      margin-left: -44px;
      margin-top: -43px;
      background: url(../img/icon-check.png) no-repeat center;
    }

    &:nth-child(1) {
      top: 50%;
      left: 43%;
      z-index: 0;
    }

    &:nth-child(1),
    &:nth-child(2) {
      width: 150px;
      height: 150px;
    }

    &:nth-child(2) {
      top: 25%;
      left: 53%;
      z-index: 10;
    }

    &:nth-child(1),
    &:nth-child(4) {
      background: $circle-brown;
    }

    &:nth-child(3) {
      left: 63%;
      bottom: -2%;
      width: 200px;
      height: 200px;
    }

    &:nth-child(4) {
      right: 0;
      bottom: 12%;
      width: 180px;
      height: 180px;
    }

    &:nth-child(5) {
      right: 0;
      bottom: 50%;
      z-index: 0;
      width: 190px;
      height: 190px;
    }
  }

  .circle__text {
    display: inline-block;

    span {
      color: $white;
    }
  }

  .circle__text--first {
    width: 120px;
  }

  .circle__text--second {
    width: 120px;
  }

  .circle__text--third {
    width: 170px;

    span {
      display: block;
    }
  }

  .circle__text--fourth {
    width: 170px;
  }

  .circle__text--fifth {
    width: 180px;
  }
}

@media (max-width: 1420px) {
  .feedback {
    .container {
      &::after {
        right: 0;
      }
    }
  }

  .feedback__inner {
    .circle {
      &:nth-child(1) {
        top: 57%;
        left: 33%;
      }

      &:nth-child(2) {
        top: 23%;
        left: 46%;
      }

      &:nth-child(3) {
        left: 55%;
        bottom: -2%;
      }

      &:nth-child(4) {
        right: 7%;
        bottom: 12%;
      }

      &:nth-child(5) {
        right: 7%;
        bottom: 50%;
      }
    }

  }
}

@media (max-width: 1200px) {
  .feedback {
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      &::after {
        display: none;
      }
    }
  }

  .feedback__inner {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-top: 40px;

    .circle {
      position: static;
      background-color: $circle-green;
      z-index: 10;
      margin-bottom: 15px;

      &::after {
        content: none;
      }
    }
  }

  .feedback__header,
  .feedback__phone,
  .feedback__bid {
    max-width: 100%;
  }

  .feedback__inner {

    .circle {

      &:nth-child(1) {
        top: 57%;
        left: 3%;
      }

      &:nth-child(2) {
        top: 23%;
        left: 6%;
      }

      &:nth-child(3) {
        left: 55%;
        bottom: -2%;
      }

      &:nth-child(4) {
        right: 7%;
        bottom: 12%;
      }

      &:nth-child(5) {
        right: 7%;
        bottom: 50%;
      }
    }

  }

}

.input {
  display: flex;
  flex-direction: column;
  width: 300px;
}

@media (max-width: 330px) {
  .input {
    width: 260px;
  }
}

.input__field {
  padding: 10px 15px;
  margin-bottom: 20px;
  font-family: $Roboto;
  font-size: 14px;
  font-weight: 400;
  color: $black;
  border: 1px solid darken(#eeefee, 10%);
  border-radius: 20px;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px #88b8ff;
    border-radius: 20px;
  }
}

.input__field::-webkit-input-placeholder {
  color: $black;
}
.input__field::-moz-placeholder {
  color: $black;
}



// CONTACTS
.contacts {
  padding: 0;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}

.contacts__head {
  margin-bottom: 40px;

  &::after {
    top: -17px;
    border-bottom: 1px solid $green;
  }
}

.contacts__header {
  background: $white;
}

.contact {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media (max-width: 600px) {
  .contact {
    flex-direction: column;
  }

}

.contact__item {
  position: relative;
  padding-top: 70px;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 10;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 40px;
    height: 40px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: rgba($green, 0.2);
  }
}

.contact__item--addres {
  &::after {
    margin-left: -15px;
    @include sprite($icon-marker);
  }
}

.contact__item--phone {
  &::after {
    margin-left: -15px;
    @include sprite($icon-tablet);
  }
}

.contact__item--email {
  &::after {
    // top: 13px;
    top: 4px;
    margin-left: -22px;
    @include sprite($icon-msg);
  }
}

.contact__header {
  font-family: $RobotoSlab;
  font-size: 16px;
  font-weight: 400;
}

.arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -11px;
  margin-top: -3px;
  display: block;
  width: 22px;
  height: 3px;
  background-color: $white;

  &::after,
  &::before {
    content: "";
    position: absolute;
    width: 22px;
    height: 3px;
    background-color: $white;
  }
}

.arrow--top {
  transform: rotate(90deg);

  &::before {
    top: 0;
    transform: translate(-6px, -4.5px) rotate(-45deg) scaleX(.7)
  }

  &::after {
    bottom: 0;
    transform: translate(-6px, 4.5px) rotate(45deg) scaleX(.7)
  }
}

.arrow--left {
  background-color: $brown;

  &::after,
  &::before {
    background-color: $brown;
  }

  &::before {
    top: 0;
    transform: translate(-17px, -5px) rotate(-45deg) scaleX(.7)
  }

  &::after {
    bottom: 0;
    transform: translate(-17px, 5px) rotate(45deg) scaleX(.7)
  }
}

.arrow--right {
  background-color: $brown;

  &::after,
  &::before {
    background-color: $brown;
  }

  &::before {
    top: 0;
    transform: translate(-5px, -5px) rotate(45deg) scaleX(.7)
  }

  &::after {
    bottom: 0;
    transform: translate(-5px, 5px) rotate(-45deg) scaleX(.7)
  }
}

.to-top {
  position: fixed;
  bottom: 270px;
  left: 30px;
  width: 50px;
  height: 50px;
  text-decoration: none;
  background-color: $green;
  border-radius: 50%;
  opacity: 0.6;
  transition: opacity linear .15s;
  z-index: 999;

  &:hover {
    opacity: 1;
  }

}

.to-top--hidden {
  transition: opacity .25s ease;
  opacity: 0;
}
// CONTACTS END

.yandex-map {
  position: relative;
  z-index: 10;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 10px 20px -10px rgba($black, 0.2),
               inset 0 -10px 20px -10px rgba($black, 0.2);
    z-index: 1;
    pointer-events: none;
  }
}



// FOOTER
.page-footer {
  padding: 20px 0;
}

.page-footer__section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  display: flex;
  flex-wrap: wrap;
}

.copyright,
.author {
  font-family: $Roboto;
  font-weight: 400;
  font-size: 12px;
}

.author {
  a {
    text-decoration: none;
    color: $black;
  }
}

@media (max-width: 600px) {
  .page-footer__section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .copyright {
    text-align: center;
    max-width: 320px;
  }

  .copyright,
  .author {
    padding-bottom: 15px;
  }
}
